<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>
    <h1>User Form</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    {{ form_row(form.submit) }}

    {{ form_end(form) }}
</body>
</html>